* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: extrabold;
  src: url(Nohemi-ExtraBold.woff2);
}

@font-face {
  font-family: semibold;
  src: url(Nohemi-SemiBold.woff2);
}

@font-face {
  font-family: regular;
  src: url(Nohemi-Regular.woff2);
}

body {
  background-color: #191919;
}

h1,
h2,
h3,
p {
  color: white;
  font-family: regular;
}

h1 {
  text-transform: uppercase;
}

/* GENEREL MENU */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #0d0d0d;
  color: #fff;
}

.logo {
  flex-grow: 1;
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  font-family: semibold;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  z-index: 10;
  background-color: #191919;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  font-family: extrabold;
}

nav a:hover {
  color: #9a341f;
}

.burger-icon,
.close-icon {
  cursor: pointer;
  display: none;
}

/* OVERSKRIFT STYLE */
.tema_knap {
  display: inline-block;
  padding: 12px;
  padding-right: 18px;
  padding-left: 18px;
  margin-top: 50px;
  margin-bottom: 20px;
  cursor: default;
}

.tema_knap h3 {
  mix-blend-mode: soft-light;
}

.tema_knap.tema2 {
  background-color: #9a341f;
}

.tema_knap.tema3 {
  background-color: #3956ca;
}

.tema_knap.tema4 {
  background-color: #e8aa3e;
}

.tema_knap.tema5 {
  background-color: #4b9136;
}

.tema_navn h1 {
  font-size: 2.5rem;
}

.tema_oversigt {
  margin-bottom: 100px;
}

.tema_oversigt img {
  margin-bottom: 25px;
}

@media (max-width: 770px) {
  /* GENEREL MOBILE */
  main {
    margin-right: 50px;
    margin-left: 50px;
  }

  /* BURGERMENU */
  .logo {
    order: 2;
    text-align: center;
  }

  nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #0d0d0d;
    text-align: center;
  }

  nav.active {
    display: flex;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 400px;
    gap: 50px;
  }

  nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  nav a {
    font-size: 50px;
  }

  .burger-icon,
  .close-icon {
    cursor: pointer;
    display: none;
  }

  .burger-icon img,
  .close-icon img {
    filter: invert(100%);
  }

  .burger-icon {
    display: block;
  }

  .close-icon {
    display: none;
  }

  /* FORSIDE MOBILE */

  #kea {
    max-width: 600px;
    position: relative;
  }

  #kea:before {
    content: "";
    display: block;
    width: 200px;
    height: 1px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 75%;
    z-index: -2;
  }
  #kea::after {
    content: "";
    display: block;
    width: 200px;
    height: 1px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 75%;
    z-index: -2;
  }

  .forside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .forside_tekst {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .forside_overskrift h1 {
    font-size: 3em;
    margin-bottom: 10px;
  }

  .forside_underrubrik {
    text-align: center;
    display: flex;
    gap: 125px;
  }

  .forside_underrubrik p {
    background-color: #191919;
    padding: 5px;
  }

  .forsidebokse_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .forsidebokse {
    width: 250px;
    height: 100px;
    margin: 15px;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .forsidebokse_links {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .forsidebokse_links h3 {
    font-size: 1.5em;
    margin: 10px;
    mix-blend-mode: soft-light;
  }

  .lidt_om_mig {
    background-color: #9a341f;
  }

  .projekter_link {
    background-color: #3956ca;
  }

  .forsidebokse_links a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  /* OVERSKRIFT MOBILE */

  .tema_navn h1 {
    text-align: center;
  }

  /* WIREFRAMES */

  .wireframes_billeder {
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
    grid-auto-columns: 60%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    margin-bottom: 50px;
  }

  .wireframes img {
    display: grid;
    grid-template-rows: min-content;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .wireframes > img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  .wireframes h3 {
    text-align: center;
    font-size: 1.5rem;
  }

  /* LAYOUTDIAGRAMMER */
  .layoutdiagrammer_billeder {
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
    grid-auto-columns: 60%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    margin-bottom: 50px;
  }

  .layoutdiagrammer img {
    display: grid;
    grid-template-rows: min-content;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .layoutdiagrammer > img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  .layoutdiagrammer h3 {
    text-align: center;
    font-size: 1.5rem;
  }

  /* FORKLARING */
  .forskellige_sider_forklaring {
    margin-bottom: 20px;
  }
  .forklaring_sider_billeder {
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
  }

  .forklaring_sider img {
    display: grid;
    grid-template-rows: min-content;
    margin-top: 20px;
  }

  .forklaring_sider > img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
  }

  .pile {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 10px;
  }

  .pile p {
    color: white;
  }

  .pile img {
    filter: invert(100%);
    margin: 0 5px;
  }

  /* KLIK VIDERE */
  .klik_videre {
    display: inline-block;
    padding: 12px;
    padding-right: 18px;
    padding-left: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
  }
  .klik_videre a {
    text-decoration: none;
  }

  .klik_videre h2:hover {
    mix-blend-mode: soft-light;
  }

  .klik_videre.tema2 {
    background-color: #9a341f;
  }

  .klik_videre.tema3 {
    background-color: #3956ca;
  }

  .klik_videre.tema4 {
    background-color: #e8aa3e;
  }

  .klik_videre.tema5 {
    background-color: #4b9136;
  }

  /* PROJEKTER */

  .boks {
    width: 270px;
    height: 100px;
    margin: 15px;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .boks.tema2 {
    background-color: #9a341f;
  }
  .boks.tema3 {
    background-color: #3956ca;
  }
  .boks.tema4 {
    background-color: #e8aa3e;
  }
  .boks.tema5 {
    background-color: #4b9136;
  }

  .boks_navn {
    position: absolute;
    bottom: 0;
    padding-left: 10px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }

  .projekt_nr {
    margin-left: auto;
    padding: 2px;
  }

  .projekt_nr h1 {
    font-size: 4rem;
  }

  .grundlaeggende h3 {
    font-size: 1rem;
  }

  .boks_navn,
  .projekt_nr {
    mix-blend-mode: soft-light;
  }

  .projekt_navn h1 {
    font-size: 3rem;
  }

  .boks a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
}

@media (min-width: 770px) {
  /* GENEREL STYLING */
  main {
    margin-right: 200px;
    margin-left: 200px;
  }

  /* WEBSITE NAVIGERING */
  .logo {
    text-align: left;
    margin-left: 200px;
  }

  nav {
    margin-right: 200px;
  }

  nav a:hover {
    color: #9a341f;
  }

  /* FORSIDE */
  #kea {
    max-width: 600px;
    position: relative;
  }

  #kea:before {
    content: "";
    display: block;
    width: 360px;
    height: 1px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 75%;
    z-index: -2;
  }
  #kea::after {
    content: "";
    display: block;
    width: 360px;
    height: 1px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 75%;
    z-index: -2;
  }
  .forside_overskrift h1 {
    font-size: 5.5rem;
    cursor: default;
  }

  .forside_underrubrik {
    cursor: default;
    display: flex;
  }

  .forside_underrubrik p {
    background-color: #191919;
    padding: 10px;
    width: 100%;
  }

  .forside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .forside_tekst {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .forside_overskrift h1 {
    font-size: 5.5em;
  }

  .forside_underrubrik {
    text-align: center;
  }

  .forsidebokse_container {
    display: flex;
    justify-content: center;
  }

  .forsidebokse {
    width: 300px;
    height: 20px;
    margin: 5px;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: height 0.3s;
  }

  .forsidebokse_links {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .forsidebokse_links h3 {
    font-size: 1.5em;
    margin: 10px;
    mix-blend-mode: soft-light;
    transition: opacity 0.3s;
    opacity: 0;
  }

  .lidt_om_mig {
    background-color: #9a341f;
  }

  .projekter_link {
    background-color: #3956ca;
  }

  .forsidebokse_links a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .forsidebokse:hover {
    height: 150px;
    cursor: pointer;
  }

  .forsidebokse_links:hover h3 {
    opacity: 1;
  }

  /* WIREFRAMES */

  .wireframes_billeder {
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
    grid-auto-columns: 40%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    margin-bottom: 50px;
  }

  .wireframes img {
    display: grid;
    grid-template-rows: min-content;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .wireframes > img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  .wireframes h3 {
    text-align: center;
    font-size: 1.5rem;
  }

  /* LAYOUTDIAGRAMMER */
  .layoutdiagrammer_billeder {
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
    grid-auto-columns: 40%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    margin-bottom: 50px;
  }

  .layoutdiagrammer img {
    display: grid;
    grid-template-rows: min-content;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .layoutdiagrammer > img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  .layoutdiagrammer h3 {
    text-align: center;
    font-size: 1.5rem;
  }
  /* FORKLARING */
  .forskellige_sider_forklaring {
    margin-bottom: 20px;
  }
  .forklaring_sider_billeder {
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
  }

  .forklaring_sider img {
    display: grid;
    grid-template-rows: min-content;
  }

  .forklaring_sider > img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
  }

  .pile {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
  }

  .pile p {
    color: white;
  }

  .pile img {
    filter: invert(100%);
    margin: 0 5px;
  }

  .pile img,
  p {
    margin-top: 10px;
  }

  /* KLIK VIDERE */
  .klik_videre h3 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .klik_videre {
    display: inline-block;
    padding: 12px 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
  }

  .klik_videre h2:hover {
    mix-blend-mode: soft-light;
  }

  .klik_videre a {
    text-decoration: none;
  }

  .klik_videre.tema2 {
    background-color: #9a341f;
  }

  .klik_videre.tema3 {
    background-color: #3956ca;
  }

  .klik_videre.tema4 {
    background-color: #e8aa3e;
  }

  .klik_videre.tema5 {
    background-color: #4b9136;
  }

  /* PROJEKTER */

  .boks {
    width: 200px;
    height: 15px;
    margin: 5px;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: height 0.3s;
  }

  .boks.tema2 {
    background-color: #9a341f;
  }
  .boks.tema3 {
    background-color: #3956ca;
  }
  .boks.tema4 {
    background-color: #e8aa3e;
  }
  .boks.tema5 {
    background-color: #4b9136;
  }

  .boks_navn {
    position: absolute;
    bottom: 0;
    padding-left: 10px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .projekt_nr {
    margin-left: auto;
    padding: 2px;
  }

  .projekt_nr h1 {
    font-size: 1rem;
    transition: ease 0.3s;
  }

  .grundlaeggende h3 {
    font-size: 1rem;
  }

  .boks_navn,
  .projekt_nr {
    mix-blend-mode: soft-light;
  }

  .boks:hover {
    height: 100px;
    cursor: pointer;
  }

  .boks:hover .boks_navn {
    opacity: 100%;
  }

  .boks:hover .projekt_nr h1 {
    font-size: 5rem;
  }

  .boks a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
}
