* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: extrabold;
  src: url(Nohemi-ExtraBold.woff2);
}

@font-face {
  font-family: semibold;
  src: url(Nohemi-SemiBold.woff2);
}

@font-face {
  font-family: regular;
  src: url(Nohemi-Regular.woff2);
}

body {
  background-color: #191919;
}

/* BURGERMENU */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #0d0d0d;
  color: #fff;
}

.logo {
  flex-grow: 1;
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  font-family: semibold;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  font-family: extrabold;
}

nav a:hover {
  color: #9a341f;
}

.burger-icon,
.close-icon {
  cursor: pointer;
  display: none;
}

@media (max-width: 770px) {
  .logo {
    order: 2;
    text-align: center;
  }

  nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #0d0d0d;
    text-align: center;
  }

  nav.active {
    display: flex;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 400px;
    gap: 50px;
  }

  nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  nav a {
    font-size: 50px;
  }

  .burger-icon,
  .close-icon {
    cursor: pointer;
    display: none;
  }

  .burger-icon img,
  .close-icon img {
    filter: invert(100%);
  }

  .burger-icon {
    display: block;
  }

  .close-icon {
    display: none;
  }
}

@media (min-width: 770px) {
  .logo {
    text-align: left;
    margin-left: 200px;
  }

  nav {
    margin-right: 200px;
  }

  nav a:hover {
    color: #9a341f;
  }
}
/* STYLING AF TING */
