/* GRID OG FLEX */
.tema {
  display: flex;
  flex-direction: column;
}

.tema img {
  width: 100%;
}

.tema_navn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.klik_videre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

@media (min-width: 770px) {
  /* TEMA OVERSIGT */
  .tema_oversigt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  /* FORSKELLIGE SIDER */

  .forskellige_sider {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}
