/* GRID OG FLEX */
.tema {
  display: flex;
  flex-direction: column;
}

.tema img {
  width: 100%;
}

.tema_navn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.klik_videre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

/* PROJEKTER */
.container_projekter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.projekter_overskrift {
  text-align: center;
  margin-top: 70px;
}

.projekter_overskrift h1 {
  font-size: 3em;
}

/* OM MIG */

.om_mig {
  display: flex;
  flex-direction: column;
}

.om_mig_intro,
.om_mig_info {
  gap: 20px;
}

.om_mig_introtekst,
.om_mig_infotekst {
  order: 1;
}

.om_mig_info {
  margin-bottom: 100px;
}

/* MOODBOARD OG STYLE TILE */

.mood_og_style_container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 50px;
}

/* AKTIVITETSDIAGRAM */

.javascript_animationer {
  display: flex;
  flex-direction: column;
}

/* VIRKSOMHEDSSITE */

.videosites {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

@media (min-width: 770px) {
  /* FORSIDE */
  .forside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .forside_tekst {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .forside_underrubrik {
    display: flex;
    gap: 300px;
  }

  .forsidebokse {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .forsidebokse_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
  }

  /* TEMA OVERSIGT */
  .tema_oversigt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  /* FORSKELLIGE SIDER */

  .forskellige_sider {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  /* PROJEKTER */
  .container_projekter {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
  }

  .projekter_overskrift {
    text-align: center;
    margin-top: 200px;
  }

  .projekter_overskrift h1 {
    font-size: 5em;
  }

  .farve_boks {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* OM MIG */

  .om_mig_intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .om_mig_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .om_mig_infotekst {
    order: -1;
  }

  /* MOODBOARD OG STYLE TILE */

  .mood_og_style_container {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  /* JAVASCRIPT */
  .javascript_kode_billede img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  /* AKTIVITETSDIAGRAM */
  .aktivitetsdiagram_billeder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
  }
  .aktivitetsdiagram_billeder img {
    width: 500px;
    object-fit: contain;
  }

  /* VIRKSOMHEDSSITE */

  .videosites {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 50px;
  }
}
